__pycache__
db.sqllite3
ssh_key
tailwind_tutorial
wagtail_tutorial
# Setting_up_tailwind_with_django
tailwind_CSS_crash_course
tailwind_tutorial_django_chat_app
venv

# TEMOPRARLY
demo/src/css/home_page.css
demo/src/css/landing_page_test.css
demo/src/css/play_tailwind.css
demo/src/css/test.css
demo/src/html/pages/home_page.html
demo/src/skins/arrow_1.png
demolanding_page_test.css
demo/pages/home_page.html
demoplay_tailwind.css
