Homepage Desktop

position: relative;
width: 1920px;
height: 1080px;

background: #000000;


/* slideshow */

position: absolute;
width: 1920px;
height: 1080px;
left: 0px;
top: 0px;



/* slideshow */

position: absolute;
width: 1920px;
height: 1080px;
left: 0px;
top: 0px;

background: #171616;


/* slideshow title */

position: absolute;
width: 278px;
height: 160px;
left: 313px;
top: 451px;

font-family: 'Inder';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 80px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* slideshow button */

position: absolute;
width: 60px;
height: 60px;
left: 313px;
top: 632px;



/* Ellipse 1 */

box-sizing: border-box;

position: absolute;
width: 60px;
height: 60px;
left: 313px;
top: 632px;

border: 3px solid #FFFFFF;


/* Arrow 1 */

box-sizing: border-box;

position: absolute;
width: 20px;
height: 0px;
left: 333px;
top: 662px;

border: 3px solid #FFFFFF;


/* app bar */

position: absolute;
width: 1920px;
height: 100px;
left: 0px;
top: 0px;



/* menu */

position: absolute;
width: 870px;
height: 30px;
left: 901px;
top: 38px;



/* Om oss */

position: absolute;
width: 86px;
height: 30px;
left: 1685px;
top: 38px;

font-family: 'Inder';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

border: 0.1px solid #FFFFFF;


/* Tomter kjøpes */

position: absolute;
width: 161px;
height: 30px;
left: 1473px;
top: 38px;

font-family: 'Inder';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

border: 0.1px solid #FFFFFF;


/* Aktuelt */

position: absolute;
width: 83px;
height: 30px;
left: 1339px;
top: 38px;

font-family: 'Inder';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

border: 0.1px solid #FFFFFF;


/* Grønne boliger */

position: absolute;
width: 167px;
height: 30px;
left: 1121px;
top: 38px;

font-family: 'Inder';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

border: 0.1px solid #FFFFFF;


/* Boligprosjekter */

position: absolute;
width: 169px;
height: 30px;
left: 901px;
top: 38px;

font-family: 'Inder';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

border: 0.1px solid #FFFFFF;


/* Title */

position: absolute;
width: 219px;
height: 60px;
left: 155px;
top: 26px;

font-family: 'Inder';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 60px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.035em;

color: #FFFFFF;

border: 1.5px solid #FFFFFF;


/* appbar */

position: absolute;
width: 1920px;
height: 100px;
left: 0px;
top: 0px;

