<!-- <!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		
		{% load static tailwind_tags %}
		<title>Django Tailwind</title>
		{% tailwind_css %}
		{% include "src\html\desgin.html" %}
		
		</head>

	<body class="bg-black font-serif leading-normal tracking-normal">
		{% block content %}

		  

		<button class="addButton"> + </button>
		<div class="container mx-auto">
			<section class="flex items-center justify-center h-screen">
				<h1 class="text-5xl">Django + Tailwind = ❤️</h1>
			</section>
		</div>
		<button class="addButton"> + </button>
		<button class="p-3 w-10 rounded-xl text-white bg-cyan-500 hover:bg-cyan-600"> + </button>
		
		{% endblock %}

	</body>
	<script src="https://cdn.tailwindcss.com"></script> 
</html> -->

<div class="ScaffoldWrapper">
	<div class="SkewedCardContainer">
	  <div class="card_background_skewed">
		<div class="card_base">HEI</div>
	  </div>
	</div>
  </div>
