<!-- THIS SOLUTION WILL USE A CSS ONLY METHOD -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../styles.css"> -->
    <link rel="stylesheet" href="../static_src/src/styles.css">

</head>
<!-- background -->
<body class="bg-black px-2 py-2 background">

    <!-- container -->
    <div class="bg-gray-500 py-80 px-80">

        <!-- CSS ONLY TEST -->
        <div class="radial-blue">
            HELLO
        </div>
    </div>

    <!-- fade test -->

    <div class="w-40 h-40 animate-fade"> HELLO</div>
    <div class="h-8 w-8 bg-blue-600 transition-opacity ease-in duration-700 opacity-100 hover:opacity-0"></div>

<!-- <img 
src="https://img.freepik.com/free-photo/top-view-background-beautiful-white-grey-brown-cream-blue-background_140725-72219.jpg?w=2000" 
class="animate-fade"> -->
<div class="bg-pink-cream   
bg-no-repeat
bg-[url('https://img.freepik.com/free-photo/top-view-background-beautiful-white-grey-brown-cream-blue-background_140725-72219.jpg?w=2000'),_url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpXd2b3E8HCiKm3JmVV8UP5_zTlJUo1QX6eg&usqp=CAU')]
rtl:bg-[url('https://img.freepik.com/free-photo/top-view-background-beautiful-white-grey-brown-cream-blue-background_140725-72219.jpg?w=2000'),_url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpXd2b3E8HCiKm3JmVV8UP5_zTlJUo1QX6eg&usqp=CAU')]
bg-[length:150px,_80px,_80px]
bg-[position:center_bottom,_right_-15px_bottom_-20px,_left_0px_bottom_0px] 
md:bg-[length:300px,_100px,_120px]
md:bg-[position:right_80px_bottom,_right_bottom,_left_0px_bottom_0px] 
rtl:md:bg-[position:left_80px_bottom,_right_bottom,_left_0px_bottom_0px]
px-4 pt-6 pb-[400px] h-96">
HELLO 
</div>

    <div class="bg-fade-wrapper">
        <div class="bg-fade">
            HELLO
        </div>
        
    </div>
</body>

</html>

<script src="https://cdn.tailwindcss.com"></script> 